.the-wrapper h1{
	margin-top: 60px;
	margin-bottom: 20px;
}
.outter{
	/*margin-top: 60px;*/
	margin-bottom: 60px;
	min-height: 520px;
	/*overflow-y: scroll;*/
	padding-bottom: 40px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.3);
	border-radius: 0.3em;
}
.TDtotal{
	width: 56px;
}
.TDdate{
	width: 10%;
}
.TDbill_id{
	width: 15%;
}
.TDproduct{
	width: 30%;
}

.TNT1{
	width: 70%;
	text-align: left;
	padding-left: 2px;
}
th{
	padding-top: 12px;
	padding-bottom: 12px;
}
td,th{
	text-align: center;
	vertical-align: middle;
}
.bill-tr{
	border-top: 1px solid rgba(0,0,0,0.1)
}
.item-tr{
	height: 48px;
}
.pagination-bar{
	margin-top: 40px;
	text-align: center;
}
.pagination-bar a{
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	width: 32px;
	color: #fff;
	text-decoration: none;
	border-radius: 0.25rem;
	margin: 0 2px 0 2px;
}
.pagination-bar .now-pagination{
	background-color: #0275d8;
	transform: scale(1.2);
}
.some-more-dot{
	text-align: center;
	line-height: 0.1px;
	margin: 8px;
	font-size: 18px;
}
@media (max-width: 992px) {
	.outter{
		font-size: 14px;
	}
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}
}

/* mobile device under 450*/

@media (max-width: 450px) {
	.container{
		padding-left: 2px;
		padding-right: 2px;
	}
	.outter{
		font-size: 10px;
	}
}