.foot1{
	width: 100%;
	/*border:1pt solid #000;*/
	height: 80px;
	color: #fff;
	background:rgba(56,6,6,0.9);
	
}
.foot1 img{
	height: 100%;
	transform: scale(0.7);
}
.footIm{
	/*border:1pt solid #000;*/
	height: 80px;
	text-align: center;
}
.footIm>span{
	top: 24px;
}

.foot2{
	height: 60px;
	text-align: center;
	padding-top: 14px;
	color: #fff;
	background:rgba(56,6,6,0.9);
}
@media(max-width: 450px){
	.foot1{
		width: 100%;
		/*border:1pt solid #000;*/
		height: 56px;
		color: #fff;
		background:rgba(56,6,6,0.9);
		
	}
	.foot1 img{
		/*width: 100%;*/
		height: auto;
		width: auto;
		max-width: 100%;
		transform: scale(1);
	}
	.footIm{
		padding: 2px;
		height: 56px;
	}
	.footIm span{
		top: 0px;
		font-size: 12px;
	}

	.foot2{
		height: 30px;
		padding-top: 8px;
	}
}