.outter{
/*	margin-top: 40px;
	margin-bottom: 40px;*/
}

/* modal overrite */
@media (min-width: 576px){
	.modal-dialog-lg{
		max-width:800px!important;
	}	
}
/* modal-content override */
.modal-content{
	background-color: rgba(255,255,255,0.9)!important;
}
/* kartForm override */
.kartForm{
	/*background-color: #FFF0C2!important;*/
}
.product-cell{
	padding-top: 25%;
	width: 100%;
	border-radius: 0.4rem;
	overflow: hidden;
	margin:40px 0;
}
.product-cell-inBox{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 24px 40px;
}
/* cell 圖片 */
.product-cell-inBox img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* cell 產品名稱 */
.product-cell-inBox .product-cell-inBox-name{
	font-size: 4rem;
}
/* cell 小標題 */
.product-cell-inBox .product-cell-inBox-des{
	font-size: 2rem;
}
/* cell 價格 */
.product-cell-inBox .product-cell-inBox-price{
	font-size: 2rem;
}
/* cell 紅利 */
.product-cell-inBox .product-cell-inBox-bonus{
	font-size: 2rem;
	position: absolute;
	top: 40%;
	right: 0px;
	transform: rotate(-25deg) translateY(-50%);
}
/* 下方 價格 */
.priceSum span{
	font-size: 18pt;
	margin:0 8px;
	float: left;
}

@media(max-width: 1200px){

}

@media(max-width: 992px){

}
@media(max-width: 450px){
	.priceSum span{
		margin: 0;
		font-size: 16px;
	}
}


