.topSpace{
	width: 100%;
	height: 80px;
}
.main-bg{
	background-image: url(../images/6689.png);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	filter: opacity(0.7);
}
.navbar{
	background-color: rgba(0,0,0,0.4);
	/*border:1pt solid #000;*/
	width: 100%;
	height: 80px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
.navLeft,.navRight,.navLogo{
	/*border:1pt solid #000;*/
	height: 80px;
}
.navLogo{
	padding: 0;
	overflow:hidden;
}
.navLogo img{
	max-width: 100%;
	top: -23px;
}
.login{
	height: 80px;
	padding-top: 20px;
	float: right;
	font-size: 16pt;
}
.kart{
	margin: 0 8px 0 8px;
	height: 80px;
	width: 40px;
	float: right;
}
.kart img{
	max-width: 100%;
    top: 50%;
    transform: translateY(-50%) scale(0.85);
}
.logout,.user{
	height: 80px;
	padding-top: 20px;
	float: right;
	font-size: 16pt;
}

.fbLink, .lineLink{
	/*border:1pt solid #000;*/
	height: 80px;
	width: 40px;
	float: right
}
.fbLink img{
	max-width: 100%;
	top: 50%;
	transform: translateY(-50%) scale(0.95);

}
.lineLink img{
	max-width: 100%;
	top: 50%;
	transform: translateY(-50%) scale(0.8);
}
.itemBox{
	/*border:1pt solid #000;*/
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.goto{
	width: 100%;
	text-align: center;
	margin: 0;
}
.navItem,.navLog{
	display: inline-block;
	font-size: 16pt;
	margin: -1px 20px 0 20px;
	vertical-align: middle;
	color: #fff;
}
.navLog{
	margin: -1px 8px 0 8px;
}
.navItem>a,.navLog>a{
	color: #fff;
	text-decoration: none;
}
.inKart{
	display: none;
	border:1pt solid #000;
	width:100px;
	height: auto;
	position: absolute;
	top: 80px;
	z-index: 1;
}