.topSpace{
	width: 100%;
	height: 80px;
}
.main-bg{
	background-image: url(../images/6689.png);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -2;
	filter: opacity(0.4);
}
.main-bg-filter{
	background:rgba(251,150,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}
.navCostume{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	z-index: 100;
	background:rgba(0,0,0,0.7);
}
.navbar-brand{
	margin-left: 1.5rem;
}
.navbar-brand img{
	height: 56px;
	/*transform: scale(0.7);*/
}
@media (max-width: 992px) {
.navbar-brand img{
	height: 40px;
}	
}
.navCostume a{
	color: #fff;
	font-size: 20px;
	transition: .1s ease-in-out;
}
@media(max-width: 992px){
.navCostume a{
	font-size: 16px;
}
}
.nav-item img{
	height: 30px;
	transform: translateY(-2px);
}
@media(max-width: 992px){
.nav-item img{
	height: 20px;
}	
}
.nav-item a:hover{
	color: #DF8928;
	transform: scale(1.1);
}
.navCostume span{
	color: rgba(255,255,255,0.7);
	font-size: 20px;
	display: block;
    padding: .5em .5em;
}
@media(max-width: 992px){
.navCostume span{
	font-size: 16px;
}	
}
.btnCostume{
	color: #fff;
    background-color: #d9534f;
    margin: 0 6px 0 6px;
    height: 100%;
	display: block;
	font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.marquee{
	position: fixed;
	height: 24px;
	width: 100%;
	top: 80px;
	z-index: 2;
	font-size: 16px;
	overflow:hidden;
}
.runner{
	position: absolute;
	display: inline-block;
	width: 100%;
	animation: runner 23s infinite linear;
	color: #fff;
	line-height: 24px;
	z-index: 3;
	left: 100%;
}
@keyframes runner {
	0%{
		
		transform: translate3d(0%,0,0);
	}
	100%{
		
		transform: translate3d(-100%,0,0);
	}
}
/*.runner{
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	height: 28px;
	color: #fff;
	z-index: 3;
}*/